<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Enter Employee data</h2>

<div class="field">
    <div class="form-group col-md-6">
        <label for="name" class="col-form-label">Name</label>
        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label for="image" class="col-form-label">Image</label>
        <input type="image" th:field="*{image}" class="form-control" id="image" placeholder="Image">
        <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label for="function" class="col-form-label">Function</label>
        <input type="text" th:field="*{function}" class="form-control" name="function"  placeholder="Function" /><br>
        <span th:if="${#fields.hasErrors('function')}" th:errors="*{function}" class="text-danger"></span>
    </div>
</div>


<div class="row">
    <div class="col-md-6 mt-5">
        <input type="submit" class="btn btn-primary" value="Add Emplyee" href="emplyeePage.html">
    </div>
</div>

</body>
</html>