#divSearch{
background-color: #2F4F4F;
border: solid 11px;
border-radius:15px;
width:300px;
}

#txtSearch{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
}

#btnSearch{
  border:none;
  float:left;
  height:32px;
  border-radius:0 7px 7px 0;
  width:70px;
  font-weight:bold;
  background:#5F9EA0;
}
