
<!DOCTYPE html>
<html xmlns:th="https:www.thymeleaf.com">

<head>
    <meta charset="UTF-8">
    <title>VZoo - Animal list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body class="bg-light">
    <nav class="navbar navbar-dark bg-dark navbar-expand">
        <div class="container">
            <a class="navbar-brand" href="zooPage.html">VZoo</a>

            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="zooPage.html">Home</a>
                    <a class="nav-item nav-link active" href="animalPage.html">Animals</a>
                    <a class="nav-item nav-link" href="employeePage.html">Employee</a>
                    <a class="nav-item nav-link" href="habitatPage.html">Habitat</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="my-5">Animal List</h1>


        <div class="card border-0 shadow" th:switch="${Animal}" >

            <div class="card-body">

                <div class="row">
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="Search for an animal">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-auto">
                        <a href="addAnimal.html" class="btn btn-success btn-sm">New animal</a>
                    </div>
                </div>

                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Specie</th>
                            <th>Sound</th>
                            <th>Habitat</th>
                            <th>Animal Satisfation</th>
                        </tr>
                    </thead>

                    <tbody th:case="null">
                    <tr>
                        <td class="text-muted" colspan="6">No animals created yet.</td>
                    </tr>
                    </tbody>

                    <tbody th:case="*">
                    <tr  th:each="animal : ${animal}">
                        <th>
                            <a th:href="@{/editAnimal/{id}(id=${animal.id})}" th:text="${animal.name}"></a>
                        </th>
                        <td th:text="${animal.image}"></td>
                        <td th:text="${animal.specie}"></td>
                        <td th:text="${animal.sound}"></td>
                        <td th:text="${animal.habitat}"></td>
                        <td th:text="${animal.satisfaction}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>