
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>VZoo - Add Animal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body class="bg-light">

    <nav class="navbar navbar-dark bg-dark navbar-expand">
        <div class="container">
            <a class="navbar-brand" href="zooPage.html">VZoo</a>

            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="zooPage.html">Home</a>
                    <a class="nav-item nav-link active" href="animalPage.html">Animals</a>
                    <a class="nav-item nav-link" href="employeePage.html">Employee</a>
                    <a class="nav-item nav-link" href="habitatPage.html">Habitat</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1 class="my-5">New Animal</h1>

        <div class="card border-0 shadow">
            <form class="card-body" action="#" th:action="@{/addAnimal}" th:object="${animal}" method="post">

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="inputGroupFile01">Avatar</label>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" th:field="*{avatar}" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Choose avatar</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group>
                        <label for="species">Species</label>
                        <input type="text" th:field="*{species}" class="form-control" name="specie" id="species" placeholder="Specie" /><br>
                        <span th:if="${#fields.hasErrors('species')}" th:errors="*{species}" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="sound" >Sound</label>
                        <input type="text" th:field="*{sound}" class="form-control" id="sound" placeholder="Sound">
                        <span th:if="${#fields.hasErrors('sound')}" th:errors="*{sound}" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="habitat">Habitat</label>
                        <datalist  th:field="*{habitat}" class="form-control" id="habitat" placeholder="Habitat"> </datalist>
                        <span th:if="${#fields.hasErrors('habitat')}" th:errors="*{habitat}" class="text-danger"></span>
                    </div>



                    <div class="text-right">
                        <a href="animalPage.html" class="btn btn-secondary mr-2">Cancel</a>
                        <button type="submit" class="btn btn-success" value="Add Animal" href="animalPage.html">Submit</button>
                    </div>

            </form>
        </div>
    </div>
</body>
</html>