
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">

        <link rel="stylesheet" type="text/css" href="employeePage.css" media="screen" />
        <title>Employee</title>
    </head>
    <body>
        <button><a href="addEmployee.html" target="_self">New Employee</a></button>
        <button><a href="zooPage.html" target="_self">MainPage</a></button>

        <div th:switch="${Employee}" class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h2 th:case="null">No Employee yet!</h2>
                        <div th:case="*">
                            <h2 class="my-5">Employee</h2>
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>  Name  </th>
                                        <th>  Image  </th>
                                        <th>  Function  </th>
                                        <th>  Animal  </th>
                                        <th>  Habitat  </th>
                                    </tr>
                                </thead>
                                <tr th:each="employee : ${employee}">
                                    <td th:text="${employee.name}"></td>
                                    <td th:text="${employee.image}"></td>
                                    <td th:text="${employee.function}"></td>
                                    <td th:text="${employee.animal}"></td>
                                    <td th:text="${employee.habitat}"></td>
                                    <td><a th:href="@{/editEmployee/{id}(id=${emplyee.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                    <td><a th:href="@{/deleteEmployee/{id}(id=${emplyee.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                </tr>
                            </table>
                        </div>
                    <p class="my-5"><a href="addEmployee.html"  class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p
                </div>
            </div>
        </div>
        <div id="divSearch">
            <input type="text" id="txtSearch" placeholder="Search..."/>
            <img src="search3.png" id="btnSearch" alt="Search"/>
        </div>
    </body>
</html>